/* Variable directory */
:root {
    --dark: #13293d;
    --light: #fff;
    --background: #ffffff;
    --header_text: rgb(86, 150, 59);
    --contrast_text: rgb(28, 117, 47);
    --button_color: rgb(120, 195, 139);
    --button_color_active:rgb(72, 161, 94);
}
/* All items */
*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none ;
}
/* Header specific items */
header {
    display: flex;
width:100%;
position: fixed;
align-items: center;
justify-content: center;
background-color: var(--background);
padding:15px 0;
}
.header_container{
    display: flex;
    flex-flow: row nowrap;
    width:90%;
    margin:0;
    justify-content: space-between;
    align-items: center;
}
.header-links {
    display: inline-flex;
    justify-items: space-around;
    border: 2px var(--background) solid;
}
.dev {
    color: var(--contrast_text);
    font-style: italic;
}
/*--- All H group text, except h4, see "additonal info areas" at bottom of css file ---*/
h1 {
    font-size: 200%;
    text-align: left;
    color: var(--header_text);
}
h2 {
    font-size: 100%;
    color: var(--header_text);
    text-align: left ;
    padding: 10px 0 10px 30px;
}
h3{
    font-size: 90%;
    text-align: center;
    line-height: 30px;
}
/* Body = everything expect the header and footer */
body {
    display:flex;
    flex-direction: column;
    width:97%;
    }
/* Aside is the LHS panel */
aside{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:30px 0;
    margin:2%;
    max-width: 130px;
    min-width: 70px;
}
.aside_p{
    font-size: 70%;
    line-height: 22px;
    text-align: center;
}
.aside_intro{
    padding-top: 200px;
    height:1000px;
}
.projects{
    height:500px;
}
/* Main is everything except the header, footer and aside */
main {
    display:flex;
    flex-direction:row;
} 
/* Flagship images is the background image in this case */
.flagship_image_section{
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    flex-direction: column;
    padding: 50% 5% 15% 5%;
    background-image: url(../images/flagship_image_2.jpeg);
    background-color: black;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width:fill;
    margin:-50px 0 0 0;
}
.intro_text_title{
    color:rgb(249, 107, 19);
    font-size: 300%;
    margin:15px;
}
.intro_text {
    color:rgb(249, 107, 19);
    font-size: 150%;
    margin:7px;
}
/* Project images section is for images of the project */
.project_images {
    display:flex;
flex-flow: row wrap;
    justify-content: space-around;
    width:100%;
    flex:1 1 50%;
    padding:10px 0;
}
.project_images img[src$=".png"]{
    width:400px;
    height: 90%;
    border-radius: 15%;
}
.card-titles .more-text {
    display:flex;
    flex-direction: column;
    color: var(--contrast_text);
    text-decoration: none;
}
.more-text{
    color: var(--header_text);
    font-size: 15px;
}
/* Addtional info areas */
.content_about, .content_resume, .content_contact{
    margin:30px 15px 15px;
    text-align: center;
    padding:15px;
}
h4{
    color:var(--header_text);
    font-size: 20px;
    margin:15px;
    background-color: var(--button_color);
    border-radius: 15px;
}
/* Link fottating */
.h-link a:hover{
    padding:5px;
    border: 2px black solid;
    background-color: var(--button_color);
    border-radius: 15px 6px 15px;
    transform: skew(-25deg);
    text-decoration: none;
}
.h-link a:hover{
    padding:5px;
    border: 2px black solid;
    background-color: var(--button_color);
    border-radius: 15px 6px 15px;
    transform: skew(-25deg);
    text-decoration: none;
}
.h-link a:link{
    padding:5px;
    border: 2px var(--background) solid;
    font-size: 110%;
    color: var(--header_text);
    text-decoration: none;
}
a:active{
    text-decoration: none;

}
a:visited{
    padding:5px;
    border: 2px var(--background) solid;
    font-size: 110%;
    color: var(--header_text);
    text-decoration: none;
}
/* Footer */
footer{
    width:100%;
    text-align: center;
    background-color: var(--button_color);
    padding:20px;
    margin:15px;
    border:2px var(--contrast_text) solid;
}